
<%#  Need to have a check if user is activated or not. Need to work on that %>

<%#  This page is under construction. Need to complete this. %>
<td class="project-title">
    <%# <%= link_to "user", user %> %>
    <br/>
    <small>Created at <%= user.created_at %></small>
</td>
<td class="project-completion">
</td>
<td class="project-people">

</td> 
<td class="project-actions">
    <%# <%= link_to "user", method: :delete,  data: {confirm: 'Are you sure?'}, class: 'btn btn-white btn-sm user-destroy' do %> %>
        <i class="fa fa-times"></i> Delete
    <%# <% end %> %>

    <%# <%= link_to "user", class: 'btn btn-white btn-sm' do %> %>
        <i class="fa fa-folder"></i> View
    <%# <% end %> %>
    <!-- <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Suspend Account </a> -->
    
</td>