<!--<div class="row">-->
<!--	<div class="ibox-content m-b-sm border-bottom">-->
<!--		<div class="row">-->
<!--		<h1><b><%#= "Group: " + @group.title%></b></h1><br /><br />-->
<!--		<h3> Please select the users and create or update the group.</h3><br /><br />-->


<!--		</div>-->
<!--	</div>-->
<!--</div>-->



<div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
        <h2>Need help</h2>
        <span>Checkout our help. If you have problem please do contact support. You can also see the videos for better understanding. </span>
    </div>
</div>

<%#= Gon::Base.render_data({}) %>
<%= Gon::Base.render_data %>



<script type="text/javascript">
	$('select').DualListBox();
</script>
